{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>
        성원's Blog
    </h1>
    <div class="row">
        {% for post in posts %}
        <div class="col-md-4 col-12">
            <div class="card" style="width: 18rem; margin-top: 20px;">
              {% if post.image %}
                  <img src="{{ post.image.url }}" class="card-img-top" alt="...">
              {% endif %}
              <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content }}</p>
                <p>{{ post.created_at }}</p>
                <a href="{{ post.get_absolute_url }}" class="btn btn-primary">보러가기</a>
              </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
